<<<<<<< HEAD
header
{
    text-align: center;
    background-color: rgb(17, 30, 216);
}
body
{
    
   color: rgb(211, 186, 220);
   background-color: rgb(46, 46, 48);

}
.titre {
    color: rgb(205, 19, 19);
    font-style: unset;
}
h1 {
    color: rgb(117, 48, 48);
}
h2{
    color: rgb(210, 149, 215);
    background-color: rgb(165, 28, 229);
}
=======

#BRANQUART {
	background:linear-gradient(to bottom right, skyblue, hotpink);
	border-radius: 20%;
	text-align: center;
	font-style: italic;
}

#URIOT {background-color : blue;}
>>>>>>> 8b4eee3ab7d6292e88bf075cfdec92020a6315b5
