#GIURGIUMAN {
        background-color : rgb(220, 194, 157);
	border-radius: 10%;

}
#BARTHELEMY {
	background: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
	border-radius: 20px;
	border: 2px solid black;

	img{
		width: 300px;
		border-radius: 150px;
		border: 1px solid black;

	}
	p{
		color: black;
		font-size: 20px;
		text-align: center;
		font-family: acme;
	}
}

@font-face {
	font-family: "acme";
	src: url("BARTHELEMY/Acme-Regular.ttf");
}

#ABOODI {
background:linear-gradient(to bottom right, red, purple);
	border-radius: 20%;
	text-align: center;
	font-style: italic;
}

#GUIGUE {
    border: 4px solid transparent; 
    border-radius: 15px; 
    background: linear-gradient(to right, #2E5A74, #00f7ff); 
    padding: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#GUIGUE img {
    border-radius: 10px; 
    display: block; 
    margin: auto; 
    max-width: 100%; 
    width: 100px;
    
}

#GUIGUE:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

#GUIGUE p {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    color: #333; 
}

  
#AIT_MELLOUK {
    background-color: #87CEEB;
}

body
{
    
   color: rgb(211, 186, 220);
   background-color: rgb(46, 46, 48);

}
.titre {
    color: rgb(205, 19, 19);
    font-style: unset;
}
h1 {
    color: rgb(117, 48, 48);
}
h2{
    color: rgb(34, 19, 104);
    background-color: rgb(237, 166, 166);
}
#URIOT {background-color : blue;}
#BRANQUART {
	background:linear-gradient(to bottom right, skyblue, hotpink);
	border-radius: 20%;
	text-align: center;
	font-style: italic;
}