#GIURGIUMAN {
        background-color : rgb(220, 194, 157);
	border-radius: 10%;

}
#BARTHELEMY {
	background: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
	border-radius: 20px;
	border: 2px solid black;

	img{
		width: 300px;
		border-radius: 150px;
		border: 1px solid black;

	}
	p{
		color: black;
		font-size: 20px;
		text-align: center;
		font-family: acme;
	}
}

@font-face {
	font-family: "acme";
	src: url("BARTHELEMY/Acme-Regular.ttf");
}

#ABOODI {
background:linear-gradient(to bottom right, red, purple);
	border-radius: 20%;
	text-align: center;
	font-style: italic;
}

#GUIGUE {
    border: 4px solid transparent; 
    border-radius: 15px; 
    background: linear-gradient(to right, #2E5A74, #00f7ff); 
    padding: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#GUIGUE img {
    border-radius: 10px; 
    display: block; 
    margin: auto; 
    max-width: 100%; 
    width: 100px;
    
}

#GUIGUE:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

#GUIGUE p {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    color: #333; 
}

  
#AIT_MELLOUK {
    background-color: #87CEEB;
}



#HASSANI {background-color : rgb(172, 172, 255);}



#URIOT {background-color : blue;}
#BRANQUART {
	background:linear-gradient(to bottom right, skyblue, hotpink);
	border-radius: 20%;
	text-align: center;
	font-style: italic;
}

#HASSANI {
    background-color: aliceblue;
}

p {
    text-align: center;
    color: #333;
}
#ROMANY {
    background: linear-gradient(to bottom right, #6a0dad, #9b59b6); 
    border-radius: 20%;
    text-align: center;
    font-style: italic;
}
#RAZAKARIJAONA {
	img{
		border-radius: 20%;
	}
	border: none;
	border-radius: 40px;
	box-shadow: 30px inset, 30px linear-gradient(to top left, #7f2b2c, #4b3872);
	background: linear-gradient( to top left, #7f2b2c, #552775); 
	margin: 50 px;
	font-style: italic;
	font-family: Lucida Sans Unicode;
	text-align : center;
}
