* {
    margin: 0%;
    padding: 0%;
    font-style: oblique;
}


h1 {
    text-align: center;
    background-color: rgb(10, 10, 222);
    color : white;
    margin: top;
}

h4 {
    text-align: center;
    background-color: rgb(30, 30, 210);
    color : white;
    margin: auto;
}

h5 {
    text-align: center;
    background-color: rgb(30, 30, 210);
    color: white;
    
}